<div class="comment col-xs-10">
    <div class="comment-background">
        <div class="comment-body">
            <p class="pull-right">
                <small><%= time_ago_in_words(comment.created_at) %> ago</small>
            </p>
            <h4><%= comment.user.username %></h4>
            <div class="media-body">
                <p>
                    <%= comment.body %>
                </p>
            </div>
            <p>
                <small>
                    <a href="">Like</a>
                </small>
            </p>
        </div>
    </div>
</div>