<table class="table" id="commentsTable">
        <thead>
            <tr>
                <th><a onclick="sortTable(0, 'commentsTable')">Body</a></th>
                <th><a onclick="sortTable(1, 'commentsTable')">Tutorial</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @comments.each do |comment| %>
                <tr>
                    <td>
                        <%= comment.body[0..15] %>
                    </td>
                    <td>
                        <%= comment.tutorial.title %>
                    </td>
                    <td>
                        <%= link_to 'Tutorial', tutorial_path(comment.tutorial), class: "btn btn-success btn-sm" %>
                        <%= link_to 'Delete', comment_path(comment), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>