<table class="table">
    <tr>
        <th><%= sort_link @search, :body, t('activerecord.models.comment') %></th>
        <th><%= sort_link @search, :tutorial_title, t('activerecord.models.tutorial') %></th>
    </tr>
    <% @comments.each do |comment| %>
    <tr>
        <td>
            <%= comment.body[0..15] %>
        </td>
        <td>
            <%= link_to comment.tutorial.title, tutorial_path(comment.tutorial) %>
        </td>
    </tr>
    <% end %>
</table>