<div>
    <article>
        <section class="tutorial-head">
            <h1>
                <%= @user.username %>
            </h1>
        </section>

        <section class="tutorial-body">
            e-mail: <%= @user.email %><br>
            tutorials: <%= @user.tutorials.length %><br>
            comment: <%= @user.comments.length %>
        </section>
    </article>
</div>