<div>
    <article>
        <%= render "profile_header" %>
        <section class="tutorial-body">
            e-mail: <%= @user.email %><br>
            tutorials: <%= @user.tutorials.length %><br>
            comment: <%= @user.comments.length %>
        </section>
    </article>
</div>