<div class="submenu">
    <h2 class="title">Category</h2>
    <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "Users", admin_users_path, class: "nav-item li-item-moved" %></li>
        <li><%= link_to "Tutorials", admin_tutorials_path, class: "nav-item li-item-moved" %></li>
        <li><%= link_to "Comments", admin_comments_path, class: "nav-item li-item-moved" %></li>
        <li><%= link_to "Categories", admin_categories_path, class: "nav-item li-item-moved" %></li>
    </ul>
</div>