
<article class="tutorial">
  <section class="tur=torial-head">
    <section class="post-summary clearfix">
      <div class="container-w3">
        <%= image_tag  tutorial.image.url(:large), alt: "Notebook", style: "width:100%;" if tutorial.image? %>
        <div class="content">
          <h1><%= link_to tutorial.title, tutorial_path(tutorial) %></h1>
          <p><%= tutorial.description %></p>
          <div class="tags">
            <%= raw tutorial.tags.map(&:name).map { |t| link_to "<span class='label label-primary transparent'>#{t}</span>".html_safe, tag_path(t) }.join(' ') %>
          </div>
        </div>
      </div>
    </section>
  </section>
</article>