<table class="table" id="categoriesTable">
    <tr>
        <th><%= sort_link @search, :name, "Category" %></th>
        <th>Actions</th>
    </tr>
    <% @categories.each do |category| %>
    <tr>
        <td>
            <%= link_to category.name, category_path(category) %>
        </td>
        <td>
            <%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Delete', admin_category_path(category), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
        </td>
    </tr>
    <% end %>
</table>