<div class="container" style="background-color: white">
    
<h1><%= t('.title') %></h1>

<div class="buttons_panel">
    <%= link_to 'New category', new_admin_category_path, class: "btn btn-primary btn-sm" %>
</div>
<%= render "categories_table" %>
</div>