.base-dark
    background-color: #444
    color: #ceeeff
    .title-link
        color: #ceeeff
    .main
        background-color: #444
        color: #ceeeff
    .sidebar
        background-color: #222
        color: #d9534f
    .navbar
        color: #fff
    .on-top
        color: #fff 
        background-color: #000
    textarea
        color: #fff
        background-color: #222
    .panel-white
        background-color: #222
    a.user-profile-link
        color: #fff
        

.base-light
    background-color: #fff
    .title-link
        color: #222
    .main
        background-color: #fff
    .sidebar
        background-color: #f9f9f9
    .on-top
        background-color: #d8d8d8
    textarea
        color: #000
        background-color: #fff
    .panel-white
        background-color: #fff
    a.user-profile-link
        color: #000